.df {
	display: flex;
}

.c {
	flex-direction: column;
}

.r {
	flex-direction: row;
}

.gap {
	gap: 15px;
}

.color-display {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 50px;
	width: 100px;
	border: 2px solid black;
}

.asdf {
	background-color: var(--d);
}
