/* footer container */
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;

	padding-left: 20px;
	padding-right: 20px;
	margin: auto;

	height: 3em;
	width: 100%;

	font-family: Montserrat;
	font-size: 1.2em;
	font-weight: var(--semi-bold);

    z-index: 10;
}

.footer-links {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.theme-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	padding: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}

/* -------------------------------- For phone -------------------------------- */
@media screen and (max-width: 1000px) {
	.footer-container {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 675px) {
	.footer-container {
		font-size: 1.05em;
	}
}

@media screen and (max-width: 450px) {
	.footer-container {
		font-size: 1em;
	}
}

/* --------------------------------------------------------------------------- */
