.ic-container {
    padding-bottom: 5em;
}

.header {
	position: fixed;

    top: 0;
    left: 0;
    right: 0;

    background-color: var(--white);

	height: 30px;
    width: auto;

    padding: 1.5em;
    padding-bottom: 2em;
}


.go-to-top {
    position: fixed;
    right: 2em;
    bottom: 5em;
    background-color: orange;
}