.ic-container {
	margin-bottom: 4em;
}

.header {
	position: fixed;

	top: 0;
	left: 0;
	right: 0;

	background-color: var(--white);

	height: 4em;

    display: flex;
    align-items: center;
    padding-left: 1.5em;

    z-index: 10;

}
