.accordion-row-container {
	max-height: 100vh;
}

.row-header {
	display: flex;
	align-items: center;
	height: 3em;
	font-size: var(--20);
	font-weight: var(--bold);

    background-color: orange;
    padding: 1em;
}

.row-container-true,
.row-container-false {
	display: grid;
	max-height: 25em;
	transition: all 0.75s ease;
}

.row-container-true {
	grid-template-rows: 1fr;
}

.row-container-false {
	grid-template-rows: 0fr;
}

.show-row-true,
.show-row-false {
	line-height: 1.75em;
	overflow: auto;
	scrollbar-width: thin;
    margin: 1em;
}