:root {
  --12: 12px;
  --14: 14px;
  --16: 16px;
  --20: 20px;
  --24: 24px;
  --36: 36px;
  --white: #ffffff;
  --black: #000000;
  --spring-a1: rgb(241, 211, 206);
  --summer-a1: rgb(130, 166, 236);
  --fall-a1: rgb(108, 78, 49);
  --winter-a1: rgb(19, 75, 112);
  --spring-a2: rgb(116, 83, 0);
  --summer-a2: rgb(254, 249, 217);
  --fall-a2: rgb(255, 219, 181);
  --winter-a2: rgb(238, 238, 238);
  --color-transition: all 0.75s ease-in-out;
  --regular: 400;
  --semi-bold: 550;
  --bold: 700;
}

body {
  font-family: Montserrat;
  font-size: var(--20);
}

input {
  border: 1px solid black;
}

button {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0.15em solid;
  border-radius: 3em;
}

.button-shadow {
  transition: filter 0.25s ease;
}

.button-shadow:hover {
  cursor: pointer;
  filter: drop-shadow(0px 7px 1px rgba(0, 0, 0, 0.3));
  transition: filter 0.25s ease;
}

.load-transition-true {
  opacity: 1;
  transition: all 0.75s ease;
}

.load-transition-false {
  opacity: 0;
  transition: all 0.75s ease;
}

.spring-theme {
  border-color: rgb(238, 202, 213);
  background-color: rgb(67, 167, 64);
  color: rgb(57, 62, 40);
  transition: var(--color-transition);
}

.summer-theme {
  border-color: rgb(56, 170, 52);
  background-color: rgb(253, 255, 109);
  color: rgb(130, 166, 236);
  transition: var(--color-transition);
}

.fall-theme {
  border-color: rgb(96, 63, 38);
  background-color: rgb(255, 53, 31);
  color: rgb(255, 188, 71);
  transition: var(--color-transition);
}

.winter-theme {
  border-color: rgb(80, 140, 155);
  background-color: rgb(32, 30, 67);
  color: rgb(3, 247, 235);
  transition: var(--color-transition);
}

.spring-a1-fill {
  background-color: var(--spring-a1);
  transition: var(--color-transition);
}

.spring-a1-bc {
  border-color: black;
  transition: var(--color-transition);
}

.spring-a1-color {
  color: var(--spring-a1);
  transition: var(--color-transition);
}

.summer-a1-fill {
  background-color: var(--summer-a1);
  transition: var(--color-transition);
}

.summer-a1-bc {
  border-color: black;
  transition: var(--color-transition);
}

.summer-a1-color {
  color: var(--summer-a1);
  transition: var(--color-transition);
}

.fall-a1-fill {
  background-color: var(--fall-a1);
  transition: var(--color-transition);
}

.fall-a1-bc {
  border-color: black;
  transition: var(--color-transition);
}

.fall-a1-color {
  color: var(--fall-a1);
  transition: var(--color-transition);
}

.winter-a1-fill {
  background-color: var(--winter-a1);
  transition: var(--color-transition);
}

.winter-a1-bc {
  border-color: black;
  transition: var(--color-transition);
}

.winter-a1-color {
  color: var(--winter-a1);
  transition: var(--color-transition);
}

.spring-a2-fill {
  background-color: var(--spring-a2);
  transition: var(--color-transition);
}

.spring-a2-bc {
  border-color: var(--spring-a2);
  transition: var(--color-transition);
}

.spring-a2-color {
  color: var(--spring-a2);
  transition: var(--color-transition);
}

.summer-a2-fill {
  background-color: var(--summer-a2);
  transition: var(--color-transition);
}

.summer-a2-bc {
  border-color: var(--summer-a2);
  transition: var(--color-transition);
}

.summer-a2-color {
  color: var(--summer-a2);
  transition: var(--color-transition);
}

.fall-a2-fill {
  background-color: var(--fall-a2);
  transition: var(--color-transition);
}

.fall-a2-bc {
  border-color: var(--fall-a2);
  transition: var(--color-transition);
}

.fall-a2-color {
  color: var(--fall-a2);
  transition: var(--color-transition);
}

.winter-a2-fill {
  background-color: var(--winter-a2);
  transition: var(--color-transition);
}

.winter-a2-bc {
  border-color: var(--winter-a2);
  transition: var(--color-transition);
}

.winter-a2-color {
  color: var(--winter-a2);
  transition: var(--color-transition);
}

.dfr {
  display: flex;
  flex-direction: row;
}

.dfc {
  display: flex;
  flex-direction: column;
}

.jcsb {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.jcs {
  justify-content: start;
}

.jce {
  justify-content: end;
}

.aisb {
  align-items: space-between;
}

.aic {
  align-items: center;
}

.ais {
  align-items: start;
}

.aie {
  align-items: end;
}

.padding-top-half {
  padding-top: 0.5em;
}

.padding-top-1 {
  padding-top: 1em;
}

.padding-top-2 {
  padding-top: 2em;
}

.padding-top-3 {
  padding-top: 3em;
}

.padding-top-5 {
  padding-top: 5em;
}

.padding-left-half {
  padding-left: 0.5em;
}

.padding-left-1 {
  padding-left: 1em;
}

.padding-left-2 {
  padding-left: 2em;
}

.padding-left-3 {
  padding-left: 3em;
}

.padding-left-5 {
  padding-left: 5em;
}

.padding-right-half {
  padding-right: 0.5em;
}

.padding-right-1 {
  padding-right: 1em;
}

.padding-right-2 {
  padding-right: 2em;
}

.padding-right-3 {
  padding-right: 3em;
}

.padding-right-5 {
  padding-right: 5em;
}

.padding-bottom-half {
  padding-bottom: 0.5em;
}

.padding-bottom-1 {
  padding-bottom: 1em;
}

.padding-bottom-2 {
  padding-bottom: 2em;
}

.padding-bottom-3 {
  padding-bottom: 3em;
}

.padding-bottom-5 {
  padding-bottom: 5em;
}

.margin-top-half {
  margin-top: 0.5em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-top-3 {
  margin-top: 3em;
}

.margin-top-5 {
  margin-top: 5em;
}

.margin-left-half {
  margin-left: 0.5em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-left-2 {
  margin-left: 2em;
}

.margin-left-3 {
  margin-left: 3em;
}

.margin-left-5 {
  margin-left: 5em;
}

.margin-right-half {
  margin-right: 0.5em;
}

.margin-right-1 {
  margin-right: 1em;
}

.margin-right-2 {
  margin-right: 2em;
}

.margin-right-3 {
  margin-right: 3em;
}

.margin-right-5 {
  margin-right: 5em;
}

.margin-bottom-half {
  margin-bottom: 0.5em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-2 {
  margin-bottom: 2em;
}

.margin-bottom-3 {
  margin-bottom: 3em;
}

.margin-bottom-5 {
  margin-bottom: 5em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  z-index: 10;
}

.modal-background, .modal-background-false, .modal-background-true {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.75s ease;
}
.modal-background-true {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 500;
}
.modal-background-false {
  background-color: transparent;
  opacity: 0;
  z-index: -200;
}

.modal-box, .modal-box-false, .modal-box-true {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 15px;
  height: 15em;
  width: 15em;
  background-color: var(--white);
  transition: all 1s ease;
}
.modal-box-true {
  top: 25%;
  opacity: 1;
  z-index: 1000;
}
.modal-box-false {
  top: 45%;
  opacity: 0;
  z-index: -200;
}

.exit-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 90%;
  background-color: var(--white);
  transition: filter 0.25s ease;
}

.border {
  border: 0.15em solid;
}

.pointer:hover {
  cursor: pointer;
}

.error-page-container {
  height: 100vh;
  width: 100vw;
  gap: 15px;
}

.error-page-button {
  padding: 10px;
  border-radius: 30px;
  width: 10rem;
}

.orange {
  background-color: orange;
}

.full {
  height: 100vh;
  width: 100vw;
}

/*# sourceMappingURL=index.css.map */
