:root {
	--12: 12px;
	--14: 14px;
	--16: 16px;
	--20: 20px;
	--24: 24px;
	--36: 36px;

	--white: #ffffff;
	--black: #000000;

	--spring-a1: rgb(241, 211, 206);
	--summer-a1: rgb(130, 166, 236);
	--fall-a1: rgb(108, 78, 49);
	--winter-a1: rgb(19, 75, 112);

	--spring-a2: rgb(116, 83, 0);
	--summer-a2: rgb(254, 249, 217);
	--fall-a2: rgb(255, 219, 181);
	--winter-a2: rgb(238, 238, 238);

	--color-transition: all 0.75s ease-in-out;

	--regular: 400;
	--semi-bold: 550;
	--bold: 700;
}

body {
	font-family: Montserrat;
}

// Colors
.spring-theme {
	border-color: rgb(238, 202, 213);
	background-color: rgb(67, 167, 64);
	color: rgb(57, 62, 40);
	transition: var(--color-transition);
}

.summer-theme {
	color: rgb(253, 255, 109);
	border-color: rgb(56, 170, 52);
	background-color: rgb(75, 192, 255);
	transition: var(--color-transition);
}

.fall-theme {
	border-color: rgb(96, 63, 38);
	background-color: rgb(255, 53, 31);
	color: rgb(255, 188, 71);
	transition: var(--color-transition);
}

.winter-theme {
	border-color: rgb(80, 140, 155);
	background-color: rgb(32, 30, 67);
	color: rgb(3, 247, 235);
	transition: var(--color-transition);
}

$accent-1: (
	"spring": var(--spring-a1),
	"summer": var(--summer-a1),
	"fall": var(--fall-a1),
	"winter": var(--winter-a1),
);

@each $key, $value in $accent-1 {
	.#{$key}-a1-fill {
		background-color: #{$value};
		transition: var(--color-transition);
	}
	.#{$key}-a1-bc {
		border-color: black;
		transition: var(--color-transition);
	}
	.#{$key}-a1-color {
		color: #{$value};
		transition: var(--color-transition);
	}
}

$accent-2: (
	"spring": var(--spring-a2),
	"summer": var(--summer-a2),
	"fall": var(--fall-a2),
	"winter": var(--winter-a2),
);

@each $key, $value in $accent-2 {
	.#{$key}-a2-fill {
		background-color: #{$value};
		transition: var(--color-transition);
	}
	.#{$key}-a2-bc {
		border-color: #{$value};
		transition: var(--color-transition);
	}
	.#{$key}-a2-color {
		color: #{$value};
		transition: var(--color-transition);
	}
}

.border {
	border: 1px solid;
}

.dfr {
	display: flex;
	flex-direction: row;
}

.dfc {
	display: flex;
	flex-direction: column;
}

$spaceing: (
	"sb": "space-between",
	"c": "center",
	"s": "start",
	"e": "end",
);

@each $key, $value in $spaceing {
	.jc#{$key} {
		justify-content: #{$value};
	}
}

@each $key, $value in $spaceing {
	.ai#{$key} {
		align-items: #{$value};
	}
}

.test-background {
	background-color: orange;
}
