.accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4em;

    height: fit-content;
    max-height: fit-content;

    overflow: auto;
	scrollbar-width: none;
}

.accordion-section {
    width: 60%;
}

.accordion-minimize-button {
    display: flex;
    justify-content: flex-end;
}

.accordion-rows {
    display: flex;
    flex-direction: column;
}
