.carousel-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 8.5em);
	width: 100%;
}

.carousel-images-container {
	display: flex;
	flex-direction: row;

	gap: 2em;

	position: fixed;
	left: calc(50% - 7.5em);
}

.carousel-button-left,
.carousel-button-right {
	position: fixed;

	border-radius: 90%;

	opacity: 0.5;
	transition: opacity 0.5s ease;
}
.carousel-button-left:hover,
.carousel-button-right:hover {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.carousel-button-left {
	left: 3em;
}

.carousel-button-right {
	right: 3em;
}

.carousel-image {
	height: auto;
	width: 15em;
	object-fit: cover;

	flex-wrap: wrap;
}

.gallery-light-container {
	position: fixed;
	top: 4.5em;
	right: 3em;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 3em;

	border-radius: 100px;
}

.gallery-light-container > aside {
	display: flex;
	align-items: center;

	height: 3em;
	width: 3.8em;

	padding: auto;
	padding-left: 15px;

	background-color: orange;
}

.gallery-switch-container-left,
.gallery-switch-container-right {
	border: 1px solid black;
	overflow: hidden;
}

.gallery-switch-container-left {
	border-top-left-radius: 90px;
	border-bottom-left-radius: 90px;
}

.gallery-switch-container-right {
	border-top-right-radius: 90px;
	border-bottom-right-radius: 90px;
}

.sun-true,
.sun-false,
.moon-true,
.moon-false {
	position: relative;
	transition: left 0.5s ease;
	z-index: 10;
}

.sun-true {
	left: 0.07em;
}

.sun-false {
	left: 3.75em;
}

.moon-true {
	left: 0.85em;
}

.moon-false {
	left: -2.88em;
}

.switch-barrier {
	position: absolute;
	height: 97%;
	width: 0.5em;

	background-color: white;

	z-index: 10;
	box-shadow: -2px 0px 5px -2px rgba(0, 0, 0, 0.6), 2px 0px 5px -2px rgba(0, 0, 0, 0.6);
}

.light-circle-true,
.light-circle-false {
	position: absolute;

	height: 40px;
	width: 40px;

	border: 0.075em solid black;
	border-radius: 90%;

	z-index: 5;

	transition: left 0.5s ease;

	background-color: white;
}

.light-circle-true {
	left: 0.5em;
}

.light-circle-false {
	left: 5.1em;
}
